<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.springbootmybatis.mapper.UserMapper">

  <select id="findUserAll" resultType="com.test.springbootmybatis.pojo.User">
        select * from test.user
  </select>

  <insert id="addUser"  keyProperty="userId" useGeneratedKeys="true">
      insert into test.user (username,userage) values (#{userName},#{userAge});
  </insert>

  <select id="findUser" resultType="com.test.springbootmybatis.pojo.User">
      select * from test.user where userid = #{userId}
  </select>

  <update id="updateUser" >
      update test.user set username=#{userName},userage=#{userAge} where userid=#{userId}
  </update>

  <delete id="deleteUser">
      delete from test.user where userid=#{userId}
  </delete>
</mapper>